doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    div(class="top-box "+d.color)
      a(href="/")
        i.fas.fa-long-arrow-alt-left.back-icon
      p.movie-date #{month}.#{d}
    .wrapper
      form.add-form(method="POST" action="/add/"+m+"/"+d+"/")
        h3.add-title Hozzáadás
        input.add-input#title(type="text", name="title" placeholder="Cím")
        input.add-input#date(type="text", name="date" placeholder="Kiadás")
        select.add-color#color(name="color")
          each member in config.family.members
            option(value=member.color) #{member.name}
        button.add-submit(type="submit") Hozzáadás