@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--blue: rgb(0, 183, 255);
	--dark-yellow: rgb(200, 200, 0);
	--yellow: rgb(255, 250, 0);
	--pale-pink: rgb(255, 181, 241);
	--pale-green: rgb(172, 251, 229);
	--pale-purple: rgb(200, 187, 255);
	--pale-yellow: rgb(253, 255, 144);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.wrapper {
	width: 100%;
	max-height: fit-content;
	display: flex;
	flex-direction: row;
}

@media screen and (min-width: 375px) {
	.wrapper {
		flex-direction: column;
	}
}

.index-wrapper {
	width: 375px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.month-name {
	font-size: 50px;
	text-align: center;
}

.movie {
	position: relative;
	width: 90%;
	border: 2px solid;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.movie.pink {
	border-right-color: var(--pale-pink);
}

.movie.green {
	border-right-color: var(--pale-green);
}

.movie.purple {
	border-right-color: var(--pale-purple);
}

.movie.yellow {
	border-right-color: var(--pale-yellow);
}

.movie-cover {
	height: 100px;
}

.movie-content {
	padding: 0 10px;
	width: 100%;
}

.movie-date {
	clear: right;
	float: right;
}

.movie-link {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
	color: black;
	text-decoration: none;
}

.top-box {
	padding: 0 10px;
	height: 40px;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-box.pink {
	background-color: var(--pale-pink);
}

.top-box.green {
	background-color: var(--pale-green);
}

.top-box.purple {
	background-color: var(--pale-purple);
}

.top-box.yellow {
	background-color: var(--pale-yellow);
}

.top-box .back-icon {
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.top-box .movie-date {
	color: black;
	font-size: 15px;
	font-weight: 700;
}

.img-wrapper a {
	display: block;
	background-size: cover;
	background-position: center top;
	height: calc(100vh - 40px);
	width: 30vw;
	overflow: hidden;
}

@media screen and (min-width: 375px) {
	.img-wrapper a {
		width: 100vw;
		height: calc(100vh - 100px);
		margin-bottom: 60px;
	}
}

.movie-wrapper {
	padding: 10px 30px;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.movie-title {
	font-size: 3em;
	margin-bottom: 30px;
}

.info-item {
	display: flex;
	flex-direction: row;
}

.info-title {
	padding-right: 10px;
	font-weight: 700;
}

.info-content a {
	text-decoration: none;
	color: black;
	transition: all 0.2s ease;
}

.info-content a:hover {
	color: var(--blue);
}

.info-content a:not(:last-of-type)::after {
	content: '\2c\020';
	color: black;
}
